body{
    margin:auto;
    background-color:rgb(31, 35, 36);
}
.content{
    margin:auto;
    width:90%;
    max-width: 1100px;
    text-align: center;
}

.me{
    padding-top: 80px;
    padding-bottom:100px;
   
    display: block;
    margin: auto;
    text-align: center;   
    background-color: rgb(31, 35, 36);       
}

#my-name{
    font-weight: 200; 
    letter-spacing: 2px;  
    font-size: 42px;
    font-family: 'Bangers', cursive;   
     background: linear-gradient(to right, #f32170,
                    #ff6b08, #f50087, #eedd44);
                    -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;    
             
}

#desc{
    /* font-weight: bold; */
    /* font-style: italic; */
    color: rgb(255, 230, 162);
    margin: 50px;
    font-size: 35pt;
    font-family: 'Tangerine';
}

#hello{
    font-size: 16pt;
    font-style: oblique;
    font-family: 'Playball', cursive;
    color: cornsilk;
    font-weight: lighter;

}

#resumebutton{
    background-color: rgb(255, 136, 93);
    border: none;
    color: black;
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bolder;
    height:40px;
    border: black;
    border-style: solid;
    border-width: thin;
}

#contactMe{
    background-color: rgb(255, 136, 93);
    border: none;
    color: black;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 7px 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bolder;
    height: 40px;
    border: black;
    border-style: solid;
    border-width: thin;
    

}

a{
    color: black;
    text-decoration: none;

}

.flex{
    margin-top: 150px;
    margin-bottom: 150px;
    display:flex;
    padding-left: 30px;
    background-color:rgb(31, 35, 36);
    color: rgb(255, 240, 153);
    
}

.about{
    max-width: 53%;
    padding-right: 50px;
    text-align: left;
    font-size: 13.5pt;
    letter-spacing: 1px;
    font-weight: lighter;
    /* line-height: 30px; */
    font-family: 'Cairo', sans-serif;

}

.grid{
    display: grid;
    
}

#age{
    display: flex;
    

    justify-content: space-between;
    
}
#email{
    display: flex;
    justify-content: space-between;
    

}
#lang{
    display:flex;
    justify-content: space-between;

}

.basic-info{
    text-align: left;
    width:350px;
    font-size: 20px;
    padding-right: 15px;
    
    padding: 20px;
    border-left:groove;
    border-color:  rgb(255, 238, 0);
    box-shadow: inset 0 12px 12px -12px rgb(255, 238, 0);


}
#me{
    height:250px;
    width:250px;
    border-radius: 50px;
}


#about{
    font-size: 30px;
}
#basic{
    font-size: 30px;
}

.value{
    padding-left: 15px;
    
}

#abc{
    padding-right: 90px;
    
}


.hr1{
    background-color: rgb(255, 238, 0);
        border-top: 2px ridge rgb(255, 238, 0);
        background: rgb(31, 35, 36);
        margin:0;

}


.hr2{
    height: 15px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(255, 238, 0);
    background: rgb(31, 35, 36);
    margin:0;

}

#ed{
    text-align: left;

}
.education{
    
    margin-top: 150px;
    
    color: rgb(255, 240, 153);
    margin-bottom: 150px;

}

.web222{

    display: flex;   
  
}
.main{
    background-color: pink;
    color: black;
    width:25%;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}

.info{
    background-color: rgb(255, 250, 187);
    text-align: left;
    padding-left: 20px;
    color: black;
    width:70%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 20px;
}

.small{
    font-size: 15px;
}

.education h2{

    font-weight: bolder;
}



#contact-form{
    margin-top: 200px;
    box-shadow: yellow;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin: 20px 40px 0px 40px;
    
}

label{
    font-size: 20px;
    margin-bottom: 5px;
    color: lightgray;
}

input{
    border-radius: 4px;
    padding: 0.5rem;
    color: #000000;
    background-color: #ffffff;
    box-shadow: rgb(255, 240, 153);
  border-color: rgb(255, 240, 153);
  border-width: thick;
  font-weight: bolder;
  font-size: 15px;
}


.contact-me-form{
    /* background-color: rgb(183, 244, 255); */
    width:600px;
    margin: auto;
    color: white;
    /* box-shadow: white; */
    box-sizing:border-box;
    font-size: 20px;
    
    
}
textarea{
    background-color: #ffffff;
    box-shadow: rgb(255, 240, 153);
  border-color: rgb(255, 240, 153);
  border-width:7px;
  border-radius: 4px;
  border-style: ridge;
    padding: 0.5rem;
    color: black;
    font-size: 19px;
    width:300px;
    height: 100px;
    font-weight: bolder;
  font-size: 15px;

}



legend{
    
    letter-spacing: 1.5px;
    font-family: 'Tangerine';
    font-size: 40px;
    color: rgb(255, 240, 153);

}

#sbutton{
    font-size: 15px;
    font-weight: bolder;

}









